<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<div th:fragment="book-list">
    <div class="book" th:each="book : ${books}" th:object="${book}">
        <a th:href="@{/books/{id}(id=*{id})}">
            <div class="book-cover">
                <div class="cover-title" th:text="*{title}"></div>
                <div class="cover-authors">
                    <span class="author" th:each="author, iterStat : *{authors}"
                          th:text="${author.fullName} + (iterStat. ? '' : ', ')"></span>
                </div>
            </div>
        </a>
            <div class="book-details">
                <div class="book-title"><a th:href="@{/books/{id}(id=*{id})}" th:text="*{title}"></a></div>
                <div class="book-authors">
                    <span th:text="'by '"></span>
                    <a th:href="@{authors/{id}(id=*{authors[0].id})}" th:text="*{authors[0].fullName}"></a>
                    <span th:if="${#lists.size(book.authors)} == 2">
                            <span th:text="' and '"></span>
                            <a th:href="@{authors/{id}(id=*{authors[1].id})}" th:text="*{authors[1].fullName}"></a>
                    </span>
                    <span th:if="${#lists.size(book.authors)} == 3">
                        <span th:text="', '"></span>
                        <a th:href="@{authors/{id}(id=*{authors[1].id})}" th:text="*{authors[1].fullName}"></a>
                        <span th:text="', and '"></span>
                        <a th:href="@{authors/{id}(id=*{authors[2].id})}" th:text="*{authors[2].fullName}"></a>
                    </span>
                </div>
                <div class="publisher-date">
                    <span th:text="'Published by: '"></span>
                    <a th:href="@{publishers/{id}(id=*{publisher.id})}" th:text="*{publisher.name}"></a>
                    <span th:text="' | ' + ${#temporals.format(*{publicationDate}, 'MMMM d, yyyy')}"></span>
                </div>
                <div class="rating">
                    <!-- Full Stars -->
                    <span th:each="i : ${#numbers.sequence(1, *{averageRating}.intValue())}">
        <svg class="star full-star" viewBox="..." xmlns="..."> <!-- Your SVG path here --> </svg>
    </span>
                    <!-- Half Star -->
                    <span th:if="${(*{averageRating} % 1) >= 0.5}">
        <svg class="star half-star" viewBox="..." xmlns="..."> <!-- Your SVG path here --> </svg>
    </span>
                    <!-- Empty Stars -->
                    <span th:each="i : ${#numbers.sequence(*{averageRating}.intValue() + 1, 5)}">
        <svg class="star empty-star" viewBox="..." xmlns="..."> <!-- Your SVG path here --> </svg>
    </span>
                    <span th:text="'   ' + *{ratingsCount} + ' ratings'"></span>
                </div>

            </div>
    </div>
</div>