<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<div th:fragment="navigation">

    <div th:replace="~{fragments/icons :: icons}"></div>

    <div id="modalBackdrop" style="display: none; position:fixed; width:100%; height:100%;
    top:0; left:0; background:rgba(0,0,0,0.5); z-index:999;"></div>
    <div th:if="${!isLoggedIn}" id="loginModal" style="display:none; position:fixed; left:50%; top:50%;
            transform:translate(-50%, -50%); z-index:1000; background:white; border:1px solid black; padding:20px;">
        Please log in to your account <a th:href="@{/users/login}"></a>.
        <div>
            <button onclick="closeLoginModal()">Close</button>
        </div>
    </div>
    <div class="nav-row">
        <div class="nav-section left">
            <a href="/" class="navbar-brand">
                <svg class="amazon-logo">
                    <use href="#amazon-logo"></use>
                </svg>
            </a>
        </div>
        <div class="nav-section center">
            <form th:action="@{/search}" method="get" class="search-form">
                <input type="text" name="query" placeholder="Search Amazon Kindle Store">
                <button type="submit" class="search-button">
                    <svg class="search-icon">
                        <use href="#search-icon"></use>
                    </svg>
                </button>
            </form>
        </div>
        <div class="nav-section right">
            <form action="/change-currency" method="POST">
                <select name="currencyCode" onchange="this.form.submit()">
                    <th:block th:each="currency : ${allCurrencies}">
                        <option th:value="${currency.code}"
                                th:text="${currency.symbol + ' - ' + currency.code}"
                                th:selected="${currency.code == selectedCurrency.code}">
                        </option>
                    </th:block>
                </select>
                <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                <input type="hidden" name="redirectUrl" th:value="${currentUrl}">
            </form>

            <div class="account">
                <span sec:authorize="isAuthenticated()">Hello, <span th:text="${userDto.firstName}"></span></span>
                <span sec:authorize="!isAuthenticated()">Hello, sign in</span>
                <div>Your Account</div>
            </div>
            <div class="cart">
                <a th:href="@{/cart}">
                    <svg class="shopping-cart">
                        <use href="#shopping-cart"></use>
                    </svg>
                    <div th:text="${userDto} ? ${userDto.shoppingCart.books.getSize()} : '0'">Number of products in
                        users cart
                    </div>
                    <div>Cart</div>
                </a>
            </div>
        </div>
    </div>


    <div class="nav-row">
        <div class="nav-section left">
            <div class="dropdown">
                <a th:href="@{/categories/1(page = 0, sortBy = 'purchaseCountDesc')}" class="dropbtn">Categories</a>
                <div class="dropdown-content">
                    <a th:each="category : ${level2Categories}"
                       th:text="${category.name}"
                       th:href="@{/categories/{id}(id=${category.id})}">
                    </a>
                </div>
            </div>
            <a th:href="@{/categories/1(page = 0, sortBy = 'purchaseCountDesc')}">Best Sellers</a>
            <a th:href="@{/categories/1(page = 0, sortBy = 'publicationDateDesc')}">Newest eBooks</a>
        </div>
        <div class="nav-section right">
            <a th:href="@{/customer-service}">Customer Service</a>
            <a th:href="@{/about}">About</a>
        </div>
    </div>

</div>