<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<div th:fragment="navigation">

    <div class="nav-row">
        <div class="nav-section left">
            <a href="/" class="navbar-brand">
                <img src="path-to-your-logo.svg" alt="AmazonKindleStore Logo">
            </a>
        </div>
        <div class="nav-section center">
            <form th:action="@{/search}" method="get" class="search-form">
                <input type="text" name="query" placeholder="Search Amazon Kindle Store">
                <button type="submit" class="search-button">
                    <i class="fas fa-search"></i> <!-- Assuming you're using FontAwesome for icons -->
                </button>
            </form>
        </div>
        <div class="nav-section right">
            <div class="currency">
                <span>$ USD</span>
            </div>
            <div class="account">
                <span sec:authorize="isAuthenticated()">Hello, <span sec:authentication="name"></span></span>
                <span sec:authorize="!isAuthenticated()">Hello, Sign in</span>
                <div>Your Account</div>
            </div>
            <div class="cart">
                <a th:href="@{/cart}">
                    <svg class="cart-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M528.12 301.319l47.273-208C578.806 78.301 567.391 64 551.99 64H159.208l-9.166-44.81C147.758 8.021 137.93 0 126.529 0H24C10.745 0 0 10.745 0 24v16c0 13.255 10.745 24 24 24h69.883l70.248 343.435C147.325 417.1 136 435.222 136 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-15.674-6.447-29.835-16.824-40h209.647C430.447 426.165 424 440.326 424 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-22.172-12.888-41.332-31.579-50.405l5.517-24.276c3.413-15.018-8.002-29.319-23.403-29.319H218.117l-6.545-32h293.145c11.206 0 20.92-7.754 23.403-18.681z"/></svg>
                    <div>Number of products in users cart</div>
                    <div>Cart</div>
                </a>
            </div>
        </div>
    </div>


    <div class="nav-row">
        <div class="nav-section left">
            <a th:href="@{/categories}">Categories</a>
            <a th:href="@{/best-sellers}">Best Sellers</a>
            <a th:href="@{/newest-ebooks}">Newest eBooks</a>
        </div>
        <div class="nav-section right">
            <a th:href="@{/customer-service}">Customer Service</a>
            <a th:href="@{/about}">About</a>
        </div>
    </div>

</div>