<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<div th:fragment="sidebar">
    <p class="categories-title">Categories</p>
    <div class="categories">
        <div class="parent-categories">
            <a th:each="parent : ${parentCategories}"
            th:href="@{/categories/{id}(id=${parent.id}, page = 0, sortBy = ${currentSort})}"
            th:text="'< ' + ${parent.name}">
            </a>
        </div>
        <div class="current-category" th:text="${currentCategory.name}"></div>
        <div class="direct-subcategories">
            <a th:each="subcategory : ${directSubcategories}"
            th:href="@{/categories/{id}(id=${subcategory.id}, page = 0, sortBy = ${currentSort})}"
            th:text="${subcategory.name}">
            </a>
        </div>
    </div>
</div>