html, body {
    max-width: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container-fluid, .list-container, .content-pages-container {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.footer, .pages-container {
    margin-top: auto;
}

.footer-text {
    background-color: #131A22; /* Dark background for footer */
    color: #ffffff; /* Light color for text */
    font-size: 1.2em; /* Set a suitable font size */
    padding: 2em 0; /* Top and bottom padding */
    text-align: center; /* Center-align text */
    line-height: 1.5; /* Space out the lines */
    font-family: Arial, sans-serif; /* Use a clean, web-safe font */
}

.footer-text a {
    color: #c60; /* Amazon-style orange color for links */
    text-decoration: none; /* Removes underline from links */
    font-weight: bold; /* Make the link bold to stand out */
}

.footer-text a:hover {
    text-decoration: underline; /* Underline on hover for better UX */
}

.dropdwn {
    position: relative;
}

.dropdown-account {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 1em;
}

.cart > a, .your-account > a {
    color: white;
    text-decoration: none;
}

.dropdown-account:hover {
    color: #ff9900;
}

.dropdown-account a {
    color: black;
    text-decoration: none;
}

.dropdown-account a:hover {
    color: #ff9900;
}

.dropdown-categories {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.categories-list {
    padding: 1em;
    font-size: 0.8em;
}

.book-category {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.nav-section  a {
    color: white;
    text-decoration: none; /* Removes underline from links */
}

/* Hover effect for links */
.nav-section a:hover {
    color: #ff9900; /* Amazon's signature orange color for hover */
}

.dropdwn:hover .dropdown-categories, .dropdwn:hover .dropdown-account {
    display: block;
}

.dropdown-categories a {
    color: black; /* Replace with the color you want for the text */
}

/* You may also need to set a hover state if it's not changing correctly */
.dropdown-categories a:hover {
    color: #ff9900; /* Replace with the color you want on hover */
}

.account, .cart-div {
    border: 1px solid transparent;
}

.account:hover, .cart-div:hover {
    border: 1px solid white;
}

.amazon-logo {
    width: 160px;
    height: 48px;
}

.shopping-cart {
    width: 2.5em;
    height: 2.6em;
}

.search-button {
    background-color: #febd69; /* Amazon's button color */
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
}

/* If you don't have a hover image, you can simply change the background color */
.search-button:hover {
    background-color: #febd69; /* Lighter shade for hover, replace with the color you prefer */
}

.search-icon {
    width: 40px;
    height: 40px;
}

.down-arrow {
    width: 12px;
    height: 12px;
}

.number-of-books-in-cart {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.cart-div {
    display: flex;
    flex-direction: row;
    padding: 0 12px;
}

.nav-row {
    align-items: center; /* Align items vertically */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    box-sizing: border-box;
}

.nav-container {
    box-sizing: border-box;
}

.nav-section.center {
    flex-grow: 1; /* Allow this section to fill the space */
}


.nav-row:first-child {
    background-color: #131921; /* Dark background for the top row */
    color: white; /* White text color */
    padding-top: 12px;
    padding-bottom: 12px;
}

/* Style for the second navigation row */
.nav-row:nth-child(2) {
    background-color: #232f3e; /* Slightly lighter background for the second row */
    color: white; /* White text color */
}

/* General text color for links in the nav bar */


/* Styling for the search box */
.search-form input[type="text"] {
    background-color: white; /* White background for input */
    color: black; /* Black text color */
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 8px 12px; /* Spacing inside the input */
    border: 1px solid #ccc; /* Light border around the input */
}

/* Styling for the search button */


.previous-btn, .next-btn {
    width: 105px;
    min-width: 105px;
    text-align: center;
}

.btn  {
    border: none;
    color: black;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 30px; /* Rounded corners for the button */
    text-align: center;
    display: inline-block;
    margin-top: 10px; /* Space above the button */
    cursor: pointer; /* Cursor for button hover */
    background-color: #ddd;
}

.btn:hover {
    background-color: silver;
}

.dropdown-account-title {
    margin-bottom: 20px;
    font-size: 1.3em;
    font-weight: bold;
    color: black;
}

.dropdown-account-title:hover {
    color: black;
}

.logout-div {
    margin-top: 12px;
}

.logout-div button {
    padding: 6px 12px;
    border-radius: 5px;
    border: 1px solid black;
}

.table-container {
    margin: 40px 0;
    border: 6px solid #BBBFBF;
    border-radius: 10px;
    padding: 20px 40px;
}

.remove-admin-role-btn {
    background-color: #e14c4c;
}

.remove-admin-role-btn:hover {
    background-color: #af5858;
}

.add-admin-role-btn {
    background-color: #FFD814;
}

.add-admin-role-btn:hover {
    background-color: #F7CA00;
}

.login-container, .registration-container {
    min-width: 400px;
}

#loginForm {
    margin-bottom: 30px;
}

.login-container h2 {
    margin-bottom: 20px;
}

#loginForm input {
    margin-bottom: 15px;
}

.sign-in-btn, .register-user-btn {
    background-color: #FFD814;
}

.sign-in-btn:hover, .register-user-btn:hover {
    background-color: #F7CA00;
}

.create-account {
    padding-top: 15px;
    border-top: 1px solid #BBBFBF;
}

.registration-container > *, .registration-form > * {
    margin-bottom: 15px;
}

.registration-form label {
    font-weight: bold;
    margin-bottom: 5px;
}

.registration-form input {
    width: 300px;
}

.sign-in-here {
    padding-top: 15px;
    border-top: 1px solid #BBBFBF;
}

.sign-in-here a {
    color: #017185;
    text-decoration: none;
}

.sign-in-here a:hover {
    color: #ff9900;
}

#commonModal, #loginModal, #ratingModal, #reviewModal {
    border-radius: 10px;
}

#common-modal-image, #rating-modal-image, #review-modal-image {
    width: 300px;
    margin: 15px;
}

#common-modal-image-container, #rating-modal-image-container, #review-modal-image-container {
    max-height: 600px;
    overflow: hidden;
}

.profile-field {
    padding: 15px;
    border-top: 1px solid #BBBFBF;
}

.table-container thead th, .table-container tbody td {
    padding: 15px 20px;
}

#error-img {
    height: auto;
    max-height: 700px;
}

.about-section, .help-container {
    margin-top: 30px;
}
