.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.book-cover {
    position: relative;
    background-color: #ddd; /* Placeholder color, change as needed */
    color: black; /* Set the text color to black */
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 160%; /* Controls the aspect ratio of the cover */
    margin-bottom: 15px;

    display: flex;
    flex-direction: column;
}

/* Adjustments for the cover title and authors to ensure they do not overlap */
.cover-title {
    padding: 10%;
    font-size: 1.3em; /* Adjust font-size as needed */
    font-weight: bold;
    text-align: center; /* Center the text horizontally */
    line-height: 1.2em; /* Adjust line height to manage text spacing */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis;
    flex-grow: 3;
}

.cover-authors {
    padding: 10%;
    font-size: 1.1em; /* Adjust font-size as needed */
    font-weight: bold;
    text-align: center; /* Center the text horizontally */
    line-height: 1.2em; /* Adjust line height to manage text spacing */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis;
    flex-grow: 3;
}


/* Override the anchor tag color within the book cover to black */
.book-cover a {
    color: black; /* This will make the text color black instead of blue */
    text-decoration: none; /* Optionally remove the underline from links */
}


.book-title {
    font-size: 1em;
    margin-bottom: 0.5em;
}

.price {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

.rating {
    display: flex;
    align-items: center;
}

.rating span {
    font-size: 0.8em;
    color: #666;
    margin-left: 4px;
}

.star {
    width: 1em;
    height: 1em;
    margin-right: 2px;
    vertical-align: middle;
}

.full-star {
    fill: #ffd700;
}

.half-star {
    fill: url(#half-star-gradient);
}

.empty-star {
    fill: #ccc;
}

.full-star use {
    fill: #ffd700;
}

.half-star use {
    fill: url(#half-star-gradient);
}

.empty-star use {
    fill: #ccc;
}

