.table-container {
    margin: 40px 0;
    border: 6px solid #BBBFBF;
    border-radius: 10px;
    padding: 20px 40px;
}

.remove-admin-role-btn {
    background-color: #e14c4c;
}

.remove-admin-role-btn:hover {
    background-color: #af5858;
}

.add-admin-role-btn {
    background-color: #FFD814;
}

.add-admin-role-btn:hover {
    background-color: #F7CA00;
}