.homepage {
    margin-top: 15px;
}

.homepage-title {
    margin-bottom: 15px;
}

.book-cover {
    position: relative;
    background-color: #ddd; /* Placeholder color, change as needed */
    color: black; /* Set the text color to black */
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
    height: 350px;
    max-height: 350px;
    width: 250px;
    max-width: 250px;
}

.book-cover, .book-cover > * {
    box-sizing: border-box;
}

/* Adjustments for the cover title and authors to ensure they do not overlap */
.cover-title {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    margin: 10%;
    font-size: 1.3em; /* Adjust font-size as needed */
    font-weight: bold;
    text-align: center; /* Center the text horizontally */
    line-height: 1.4em; /* Adjust line height to manage text spacing */
    max-height: 7em;
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis;
}

.cover-authors {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin: 10%;
    font-size: 1.1em; /* Adjust font-size as needed */
    font-weight: bold;
    text-align: center; /* Center the text horizontally */
    line-height: 1.2em;
    max-height: 3.6em;
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis;
}

.book a {
    color: black;
    text-decoration: none;
}

.book-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 1em;
    line-height: 1.1em;
    max-height: 2.2em;
    margin-bottom: 0.5em;
    overflow: hidden;
    text-overflow: ellipsis;

    width: 250px;
    max-width: 250px;
}

.book {
    margin-bottom: 30px;
}

.book-title a:hover {
    color: #ff9900;
}

.price {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

.star {
    width: 1em; /* Set the size of the stars */
    height: 1em;
    display: inline-block;
}

.rating {
    /* Adjust your rating stars and count to be in-line and centered */
    display: flex;
    align-items: center;
    gap: 2px;
}

.rating span {
    /* Adjust the span containing the text to align it properly */
    display: flex;
    align-items: center;
    white-space: nowrap; /* Prevents the text from wrapping */
}

.number-of-ratings {
    margin-left: 10px;
    color: #017185;
}