<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta  name="_csrf" th:content="${_csrf.token}"/>
    <meta  name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>AmazonKindleStore.com</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <script th:src="@{/javascript/bootstrap.min.js}"></script>
    <script th:src="@{/javascript/app.js}"></script>
</head>
<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>

<div class="homepage">
    <div class="homepage-title">
        <h2>Amazon Kindle Store Best Sellers</h2>
    </div>
    <div th:replace="~{fragments/book-list :: book-list}"></div>
</div>


<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>