<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta  name="_csrf" th:content="${_csrf.token}"/>
    <meta  name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>AmazonKindleStore.com</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>

<form id="loginForm" th:action="@{/users/perform_login}" method="post">
    <div>
        <input type="email" name="email" placeholder="Email Address" required>
    </div>
    <div>
        <input type="password" name="password" placeholder="Password" required>
    </div>
    <div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <button type="submit">Sign in</button>
    </div>
</form>
<div th:if="${param.error}" id="loginFormErrors">Incorrect email or password</div>


<div th:replace="~{fragments/footer :: footer}"></div>

<script th:inline="javascript">
    let isLoggedIn = [[${isLoggedIn}]];
</script>
<script th:src="@{/javascript/bootstrap.min.js}"></script>
<script th:src="@{/javascript/app.js}"></script>
</body>
</html>