<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta  name="_csrf" th:content="${_csrf.token}"/>
    <meta  name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>AmazonKindleStore.com</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/navigation.css}">
</head>
<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>

<div class="registration-form">
    <div>
        <label for="email">Email</label>
        <input type="text" id="email">
    </div>
    <div>
        <label for="username">Username</label>
        <input type="text" id="username" placeholder="At least 4 characters">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="text" id="password" placeholder="At least 4 characters">
    </div>
    <div>
        <label for="confirmPassword">Confirm password</label>
        <input type="text" id="confirmPassword" placeholder="At least 4 characters">
    </div>
    <div>
        <label for="firstName">First name</label>
        <input type="text" id="firstName" placeholder="At least 2 characters">
    </div>
    <div>
        <label for="lastName">Last name</label>
        <input type="text" id="lastName" placeholder="At least 2 characters">
    </div>
    <div>
        <label for="age">Age</label>
        <input type="text" id="age">
    </div>

    <div id="errorMessagesRegistration" style="color: red; margin-top: 10px;"></div>
    <button type="button" onclick="registerUser()">Register</button>
</div>


<div th:replace="~{fragments/footer :: footer}"></div>

<script th:inline="javascript">
    let isLoggedIn = [[${isLoggedIn}]];
</script>
<script th:src="@{/javascript/bootstrap.min.js}"></script>
<script th:src="@{/javascript/app.js}"></script>
</body>
</html>